<div class= "header">
  <h3> Flight Searcher </h3>
  <p> <%= @regdate %> </p>

<%= form_tag('/flights', method: 'get') do %>
  <% if params[:flight] %>
    <%= label :from_airport, "Departing Airport"  %>
    <%= select(:flight,
               :from_airport,
               @airport_options,
               :selected => params[:flight][:from_airport]) %>
    <%= label :to_airport, "Arrival Airport" %>
    <%= select(:flight,
               :to_airport,
               @airport_options,
               :selected => params[:flight][:to_airport]) %>
   <br>
   <br>
   <br>
   <%= label :start_date, "Search After Date:"  %>
   <%= date_select(:flight,
                   :start_date,
                   start_year: Time.now.year,
                   default: @submitted_start_date,
                   :include_blank=> @submitted_start_date.nil? ) %>
   <br>
   <br>
   <br>
   <%= label :end_date, "Search Before Date:"  %>
   <%= date_select(:flight,
                   :end_date,
                   start_year: Time.now.year,
                   default: @submitted_end_date,
                   :include_blank=> @submitted_end_date.nil? ) %>
   <br>
   <br>
   <%= label :num_passengers, "Number of Passengers:"  %>

   <%= select(:flight, :num_passengers, [1,2,3,4], :selected => @submitted_num_passengers) %>

  <% else %>
    <%= label :from_airport, "Departing Airport"  %>
    <%= select(:flight,
               :from_airport,
               @airport_options) %>

    <%= label :to_airport, "Arrival Airport" %>
    <%= select(:flight,
               :to_airport,
               @airport_options) %>
   <br>
   <br>
   <br>
   <%= label :start_date, "Search After Date:"  %>
   <%= date_select(:flight,
                   :start_date,
                   start_year: Time.now.year,
                   default: @the_date,
                   :include_blank=> @the_date.nil? ) %>
   <br>
   <br>
   <br>
   <%= label :end_date, "Search Before Date:"  %>
   <%= date_select(:flight,
                   :end_date,
                   start_year: Time.now.year,
                   default: @the_date,
                   :include_blank=> @the_date.nil? ) %>
   <br>
   <br>

    <%= label :num_passengers, "Number of Passengers:"  %>

    <%= select(:flight, :num_passengers, [1,2,3,4]) %>
  <% end %>
  <br>
  <br>
  <%= submit_tag 'Submit' %>
<% end %>
<br>
<br>
<%= button_to "Reset Search", root_url, :method => :get %>

<p><%= params.inspect %></p>


<% if params[:flight] %>

<%= form_tag('/bookings/new', method: 'get') do %>
<%= submit_tag "Book Flight with #{params[:flight][:num_passengers]} Passenger(s)" %>
  <div class="results" >
    <table>
      <tr>
        <th>Flight ID</th>
        <th>Departing Airport</th>
        <th>Arriving Airport</th>
        <th>Flight Duration(hours)</th>
        <th> Departure Date </th>
        <th> Select Flight </th>
      </tr>
      <% @flights.each do |flight| %>
        <tr>
          <th> <%= flight.id %> </th>
          <th> <%= flight.from_airport.code %> </th>
          <th> <%= flight.to_airport.code %> </th>
          <th> <%= flight.duration %> </th>
          <th> <%= flight.departure %> </th>
          <th> <%= radio_button_tag "booking[flight_id]",flight.id %> </th>
        </tr>
      <% end %>
    </table>
  </div>

  <%= hidden_field_tag "booking[num_passengers]", :number_passengers, value: @submitted_num_passengers %>


  <% end %>
<% end %>
